<form [formGroup]="form">
  <div class="form-group">
    <label for="uuid">Uuid</label>
    <input id="uuid" type="text" formControlName="uuid">
    <div *ngIf="uuidControl.touched && emailControl.invalid" class="error">UUID is required</div>
    {{ uuidControl.errors | json }}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">
    <div *ngIf="emailControl.touched && emailControl.invalid" class="error">Email is required</div>
  </div>
  <div formArrayName="addresses">
    <div *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
      <div class="form-group">
        <label for="email">Street</label>
        <input id="email" type="text" formControlName="street">
        <!-- <div *ngIf="emailControl.touched && emailControl.invalid" class="error">Email is required</div> -->
      </div>
      <div class="form-group">
        <label for="email">Post Code</label>
        <input id="email" type="text" formControlName="postCode">
        <!-- <div *ngIf="emailControl.touched && emailControl.invalid" class="error">Email is required</div> -->
      </div>
    </div>
  </div>
  <button (click)="addAddress()">Add new address</button>
</form>

{{form.value | json }}