<main role="main">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Popular Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" *ngFor="let movie of popular">
          <app-movie [movie]="movie" (logMovieIdEmitter)="receiveEvent($event)"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">In Theaters</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" *ngFor="let movie of inTheater">
          <app-movie [movie]="movie" (logMovieIdEmitter)="receiveEvent($event)"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Kid Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" *ngFor="let movie of kid">
          <app-movie [movie]="movie" (logMovieIdEmitter)="receiveEvent($event)"></app-movie>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Drama Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" *ngFor="let movie of drama">
          <app-movie [movie]="movie" (logMovieIdEmitter)="receiveEvent($event)"></app-movie>
        </div>
      </div>
    </div>
  </div>

</main>
